/* is the same as user -> userheader */
.result-header {
    background-color: rgb(71, 104, 123);
    margin: 2%; 
    height: 5%;
    display: flex;
    justify-content: center;
}

.result-header h2 {
  color: white;
  text-align: center;
  padding: 1%;
  margin: 1%;
}

.result-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}

.result-answer {
    background-color: rgb(96, 171, 240);
    margin: 2% 8%;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: -webkit-center;
}
