/*http://localhost:3000/(eachofthedimensionpages)*/
.hofstedeForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(96, 171, 240);
    height: 90vh;
}

.uploadPhotoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.uploadPhotoSize{
    width: 20vw;
    border-style: solid;
}

.textarea{
    width: 80vw;
    height: 20vh;
    border-color: gray;
    margin: 10px 0px;
}

.submitBtn{
    width: 20vw;
    background-color: gray;
    border-style: hidden;
    height: 5vh;
    margin: 10px 0px;
}


