.bg{
    height: 100%;
    min-height: 51em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('/cover_hero-1.svg');
    background-repeat: no-repeat;
}

.user-header{
    background-color: rgb(71, 104, 123);
    margin: 2% 8%;
    height: 60px;
    display: flex;
    justify-content: center;
}

/*http://localhost:3000/(WeeklyAssignments.js)*/
.assignBox{
    background-image: url('/icons/peep_w2.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 50em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.welcome-box{
    background-color: rgb(96, 171, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 2% 8%;
    height: 150px;
}

.icon-card-box{
    margin: auto 10%;
}

.icon{
    font-weight: 400;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-content: center;
}

.icon-card{
    width: 11vw;
}



/*Buttons as a footer*/
.btnFooter{
    margin: 2% 8%;
    height: 50px;
    display: flex;
    justify-content: center;
}

/*Back button*/
.backBtn{
    background-color: rgb(226, 194, 226);
    border-color: rgb(226, 194, 226);
    width: 40vw;
}
/*Next button*/
.nextBtn{
    background-color: rgb(71, 104, 123);
    border-color: rgb(71, 104, 123);
    width: 40vw;
}