/* Stylesheet to be user at /login */
.login-container{
    background-color: rgb(226, 194, 226);
    border-radius: 2px;
    width: 60vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0% auto
}

.login-form{
    margin: 10px 0 20px 0px;
}

.form-section{
    width: 50vw;
    height: 8vh;
    font-size: 2em;
    font-weight: 200;
}


.login-btn{
    background-color: rgb(226, 194, 226);
    border-radius: 2px;
    width: 60vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin: 5% auto;
}

.login-text{
    font-size: 2em;
    font-weight: 700;
    padding: 0;
}

.questionMark{
    margin: 0;
    text-align: -webkit-left;
    padding: 0% 8% 1%;
}