/* is the same as user -> userheader */

/*result menu*/

.result-container {
  display: flex;
  flex-direction: column;
  text-align: center; 
  ;
}

.result-box{ 
  background-color: rgb(96, 171, 240);
  border: none;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 94%;
  padding: 1%;
  margin: 2%;
  display: flex;
  flex-direction: column; 
  /* align-items: center; */
  /* text-align: center;  */
  /* align-items: center;  */

}

.result-box h4 {
  /* display: flex; */
  text-align: center;
  margin: 2%;
  padding: 2%;
}

.result-box Link {
  text-align: center; 
}

.result-btn{
  background-color: rgb(226, 194, 226);
  border: none;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 94%;
  padding: 1%;
  margin: 2%;
  text-align: center;
}

.result-btn h4 {
  margin: 2%;
  padding: 2%;
  /* display: inline-block */
}

/* per dimension results */
.result-header {
  background-color: rgb(71, 104, 123);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  margin: 2%;
  height: 5%;
}

.result-header h2 {
  color: white;
  text-align: center;
  padding: 1%;
  margin: 1%;
}

.result-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}

.result-answer {
  background-color: rgb(96, 171, 240);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  margin-top: 2%;
}

.result-answer h4,
p {
  margin: 2%;
  padding: 3%;
}

.dimensionsBtn {
  background-color: rgb(226, 194, 226);
  border-color: rgb(226, 194, 226);
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  width: 96%;
  padding: 2%;
  margin: 2%;
}
