.media{
    height: 100%;
    min-height: 40em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.signupBtn{
    background-color: rgb(96, 171, 240);
    border-color: rgb(96, 171, 240);
    border-radius: 2px;
}

.signupBtn a{
    text-decoration: none;
    color: black;
    size: 30px;
}

.loginBtn{
    background-color: rgb(192, 155, 192);
    border-color: rgb(192, 155, 192);
    border-radius: 2px;
}

.loginBtn a{
    text-decoration: none;
    color: black;
    size: 30px;
}